<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="db.properties"></properties>
  
  <typeAliases>
     <package name="com.zx.vo"/>
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <!-- 采取JDBC默认事务管理器 -->
      <transactionManager type="JDBC"/>
      <!-- 数据源的类型 -->
      <dataSource type="POOLED">
        <!-- 指定数据库驱动 -->
        <property name="driver" value="${driver}"/>
        <!-- 指定数据库url地址 -->
        <property name="url" value="${jdbcUrl}"/>
        <!-- 账号 -->
        <property name="username" value="${user}"/>
        <!-- 密码 -->
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 指定mybaits访问数据库的持久层相关配置文件的位置 -->
  <mappers>
    <!-- 扫描包的形式指定xml文件的位置 -->
    <package name="com.zx.mapper"/>
    
  </mappers> 
</configuration>